@{
    ViewData["Title"] = "DETALLE DEL EQUIPO";
} 
<div>
  <center><h2>@ViewBag.Equipo.Nombre</h2></center>
  <img src="@ViewBag-Equipo.Escudo">
  <img src="@ViewBag-Equipo.Camiseta">
  <h2>Copas Ganadas: @ViewBag.Equipo.CopasGanadas</h2>
  <h2>Continente: @ViewBag.Equipo.Continente</h2>
  <h2>Jugadores</h2>
  @foreach (Jugador jg in @ViewBag.VerDetalleJugador)
  {
    <tr>
      <td class="pelos">@jg.Nombre</td>
      <td class="pelos"><a href='@Url.Action("VerDetalleJugador", "Home", new{IdJugador = jg.IdJugador})' class="btn btn-primary"> Detalles del Jugador</a></td>
      <td class="pelos"><a href='@Url.Action("EliminarJugador", "Home", new{IdJugador = jg.IdJugador})' class="btn btn-danger"> Eliminar Jugador</a></td>
      <td class="pelos"><a href='@Url.Action("AgregarJugador", "Home", new{IdEquipo = jg.IdEquipo})' class="btn btn-danger"> Crear Jugador </a></td>
    </tr>
  }